body {
    margin: auto;
    font-family:  sans-serif;
    font-weight: 600;
    overflow: auto;
    background: linear-gradient(315deg, rgb(197 159 194 / 77%) 3%, rgb(224 229 255) 38%, rgb(199 181 201) 68%, rgb(150 161 215 / 81%) 98%);
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 17em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.btn{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(199, 142, 194, 0.77) 3%, rgb(170, 177, 209) 38%, rgb(199 181 201) 68%, rgb(150 161 215 / 81%) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: rgb(78, 77, 77);
    border: 2px solid rgb(143, 140, 140);
    font-weight: bold;
}
.btn:hover{
    border: 2px solid rgb(112, 112, 112);
    color: black;
}

.modal{
    background: rgb(0 0 0 / 18%)
}

.modal-content{
    background: linear-gradient(315deg, rgba(199, 142, 194, 0.77) 3%, rgb(170, 177, 209) 38%, rgb(199 181 201) 68%, rgb(150 161 215 / 81%) 98%);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    border-radius: 20px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1px;
    border: 1px solid #000000;
    color: black;
    height: 2px; 
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #a09999;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #000000;
  }